<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Sign Up</ion-title>
    <ion-icon slot="start" style="font-size: 30px; padding-left: 10px;" name="people-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="margin-top: 150px;">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Create your account here!</h3>
          </div>
          <div  class="ion-margin-top" style="padding: 40px;">
            <ion-item>
              <ion-input name="name" type="text" placeholder="Enter your name" [(ngModel)]="name" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com*" [(ngModel)]="email" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password*" [(ngModel)]="password" required>
              </ion-input>
            </ion-item>
          </div>
          <div padding class="ion-margin-top" style="padding: 40px; margin-top: -57px;">
            <ion-button  size="large"  type="submit" color="danger" (click)="signin()" expand="full">Register</ion-button>
            <h6 class="ion-text-center">You already have an account ? <span routerLink="/login" style="font-weight: bold;">Login</span></h6>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>