<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end" (click)="logOut()">
      <ion-button>
        <ion-icon style="font-size: 30px;" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <ion-row class="rowStyle">
    <button ion-button icon-only clear>
      <ion-icon name="image-outline" (click)="addPhoto()"  color="danger" style="font-size: 25px;" ></ion-icon>
    </button>
    <ion-input type="text" [(ngModel)]="postData" placeholder="Say Something....."></ion-input>
    <button ion-button icon-only clear>
      <ion-icon name="send" (click)="sendPost()" color="danger" style="font-size: 25px;"></ion-icon>
    </button>
  </ion-row>
 

  <ion-card *ngFor="let f of posts" class="ion-margin-top">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images.png" style="width: 100%;">
      </ion-avatar>
      <ion-label>
        <h2>{{f.data().owner_name}} Says</h2>
        <p> {{ago(f.data().created.toDate())}} ago</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{f.data().postText}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="rowStyle">
    
      <img [src]="f.data().image" class="captureImg" *ngIf="f.data().image">

    </ion-card-content>

    <!-- <ion-footer>
      <ion-row>
        <ion-col class="ion-text-center" style="display: grid;">
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col class="ion-text-center" style="display: grid;">
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer> -->
  </ion-card>
</ion-content>