button{
    background-color: #fff;
}

.rowStyle{
    //border: solid  #eb445a 1px;
    border-radius: 0px;
    margin-top: 15px;
}

.main{
    padding: 20px;
}

.card_body{
   padding: 12px;
}

.bottom_bar{
margin-top: 30px;
}

ion-card-content{
    padding: 30px;
}

.captureImg{
    border-radius: 18px;
}